* { margin: 0; padding: 0; box-sizing: border-box;}
body { 
	font-size: 0.32rem;
	height: 12.8rem;
}
header {
	height: 1.12rem;
	background: #00bcd4;
	display: flex;
}
header>div{
	align-items: center;
}
.logo img{
	width: 0.30rem;
	height: 0.4rem;
	width: 0.32rem;
	height: 0.44rem;
	margin-left: 0.32rem;
}
.search{
	flex: 3;
	position: relative;
	font-size: 0.42rem;
	color: #FFFFFF;
}
header > div {
	display: flex;
	justify-content: center;
}


main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 0.48rem;
}
main>div input{
	width: 6.6rem;
	height: 0.72rem;
	font-size: 0.24rem;
	color: #757575;
	border: none;
	outline: none;
}	
.keyong{
	font-size: 0.14rem;
	margin-right: 0.16rem;
	width: 1rem;
}
.phone input{
	border: none;
}
.phone{
	display: flex;
	align-items: center;
	border-bottom: 2px #DDDDDD solid;
}
main>div:nth-child(1){
	width: 6.6rem;
}
main>div input{
	border-bottom: 2px #DDDDDD solid;
}
main>div{
	margin-bottom: 0.24rem;
}
main>div:nth-child(4){
	width:6.6rem;
}
.yanzheng{
	display: flex;
	align-items: center;
	border-bottom: 2px #DDDDDD solid;
}
.yanzheng input{
	border: none;
}
.yanzheng button {
	width:1.12rem;
	height: 0.48rem;
	background:#00bcd4;
	color: #FFFFFF;
	padding: 4px;
	font-size: 0.14rem;
	border-radius: 5px;
}
.xieyi {
	width: 6.6rem;
	display: flex;
	align-items: center;
	margin-left: 0.01rem;
	color: #757575;
	font-size: 0.14rem;
}
.xieyi input{
	width: 0.15rem;
	height: 0.15rem;
	margin-right: 0.08rem;
}
.xieyi p{
	margin-left:2.4rem;
}
.btn {
	margin-top: 0.16rem;
	text-align: center;
}
.btn input {
	width: 6.6rem;
	height: 0.96rem;
	color: #212121;
	border-radius: 15px;
	background: #b2ebf2;
	border: none;
}

