<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/zhuce.css"/>
	</head>
	<body>
		<header>
			<div class="logo"><img src="images/category/icon.jpg "/></div>
			<div class="search">注册</div>
		</header>
		<main>
				<div class="phone">
					<input type="tel" v-model="obj.phone" v-on:blur="test()"  placeholder="请输入您的手机号" />
					<span v-if="isShow" class="keyong">
						<font color="#0097a7" v-if="isUse">可用</font>
						<font color="#ff5722" v-else>不可用</font>
					</span>
				</div>
				<div>
					<input type="text" v-model="obj.psw" placeholder="请输入6~16位字母或数字" />
				</div>
				<div>
					<input type="text" v-model="psws" placeholder="请确认密码" />
				</div>
				<div class="yanzheng">
					<input type="text" placeholder="请输入验证码" />
					<button>获取验证码</button>
				</div>
				<div class="xieyi">
					<input type="checkbox"/>
					点击注册，代表同意并接受《使用协议》
					<p>已有账号？去登录</p>
				</div>
				<div class="btn">
					<input type="submit" value="立即注册" @click="reg()" />
				</div>
		</main>
		
		
		<script src="js/home.js" type="text/javascript" charset="utf-8"></script>
		<script src="axios/dist/axios.js" type="text/javascript" charset="utf-8"></script>
		<script src="vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var app = new Vue({
				el:"main",
			    data:{
					obj:{
						phone:"",
						psw:""
					},
					    isShow:false,
						isUse:true,
						psws:""
				},
				methods:{
					reg(){
						
						if(!this.isUse){
							alert("电话被占用，请重新输入")
							return;
						}
						if(this.obj.psw != this.psws){
							alert("两次密码输入不一样")
							return;
						}
						
						axios.post("/zhuce",this.obj).then(function(res){
							console.log(res)
							if(res.data == true){
								location = "denglu.html"
							}
						})
					},
					test(){
						axios.post("/test",this.obj.phone).then((res)=>{
							console.log(res)
							this.isShow = true;
							this.isUse = res.data;
						})
					}
				}
			})
			
		</script>
	</body>
</html>
